<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymleaf/Layout" layout:decorate="habitation/template1">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div layout:fragment="pageContent">

    <div class="container mt-5">
        <figure class="highcharts-figure">
            <div id="chartmecomparer"></div>
            <p class="highcharts-description">

            </p>
        </figure>
    </div>





</div>


</body>
</html>