<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="Monitorer"></title>

    <link th:href="@{/styles/dwp/meetingroom/main.css}" rel="stylesheet"/>

    <!--<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Nav Bar -->
    <link th:href="@{/styles/common/nav-bar.css}" rel="stylesheet">
    <script th:src="@{/js/common/nav-bar.js}"></script>
</head>
<body>
<div class="page">
    <header>
        <div th:replace="fragments/smartgrid/header :: header"></div>
    </header>
    <h4 style="text-align: center">Les services généraux</h4>
    <div class="container">
        <div class="card-wrapper row">
            <div class="card bg-dark text-white col-12 mb-2" style="height: 42vh; overflow: auto">
                <div class="card-header">
                    <h2 class="card-title">Les alerts</h2>
                    <p class="card-subtitle">Les alerts des salles de réunions</p>
                </div>
                <div class="card-body">
                    <div class="content">
                        <div class="content-page">
                            <div class="list-group">
                                <a th:each="alert: ${alerts}" href="#" class="list-group-item bg-dark text-white list-group-item-action" aria-current="true">
                                    <div th:if="${alert.getMovement().toLowerCase().equals('s')}">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">Une Personne <i data-bs-toggle="tooltip" data-bs-placement="top" title="Sortie" class="fa-solid fa-door-closed"></i></h5>
                                            <small th:text="${alert.getDuration()}" ></small>
                                            </div>
                                        <!--<p class="mb-1">Une personne est sortie de la salle de réunion.</p>-->
                                        <small th:text="${alert.getDetector_id()}"></small>
                                    </div>
                                    <!--</div>

                                    <small th:text="${alert.getRoom_id()}"</small>
                                    </div>-->

                                    <div th:if="${alert.getMovement().toLowerCase().equals('e')}">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5  class="mb-1">Une Personne <i data-bs-toggle="tooltip" data-bs-placement="top" title="Entrée" class="fa-solid fa-door-open"></i></h5>
                                            <small th:text="${alert.getDuration()}"></small>
                                        </div>
                                        <!--<p class="mb-1">Une personne est entrée dans la salle de réunion.</p>-->
                                        <small th:text="${alert.getDetector_id()}"></small>
                                    </div>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-dark text-white col-6" style="height: 45vh; overflow: auto">
                <div class="card-header">
                    <h2 class="card-title">Salle de Réunion</h2>
                    <p class="card-subtitle">Les status des salles de réunions actuels</p>
                </div>
                <div class="card-body">
                    <div class="content">
                        <div class="content-page">
                            <table class="table table-dark table-striped">
                                <tr>
                                    <th>N° du DWP</th>
                                    <th>Nom de salle</th>
                                    <!---->
                                    <th>ID Capteur</th>
                                    <!--<th>ID Capteur</th>-->
                                    <th>Etat</th>
                                </tr>
                                <tr th:each="roomData: ${roomStatus}">
                                    <td th:text="${roomData.getRoom().getId_room()}"></td>
                                    <td th:text="${roomData.getRoom().getRoom_name()}"></td>
                                    <!--<td th:text="${proxy.patchDetectorByRoom(roomData).getId()}" ></td>-->
                                    <td th:text="${roomData.getDetector_id()}"></td>
                                    <td>
                                        <span th:if="${roomData.getStatus()}">Disponible</span>
                                        <span th:if="${!roomData.getStatus()}">Occupée</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-dark text-white col-6" style="height: 45vh; overflow: auto">
                <div class="card-header">
                    <h2 class="card-title">Sans Capteur</h2>
                    <p class="card-subtitle">Les salles de réunions qui n'ont pas de capteurs</p>
                </div>
                <div class="card-body">
                    <div class="content">
                        <div class="content-page">
                            <ul th:if="${withoutDetector.size() > 0}" class="list-group overflow-auto">
                                <li th:each="room: ${withoutDetector}" th:text="${room.getRoom_name()} + ' - ' + ${room.getId_room()}" class="list-group-item list-group-item-dark"></li>
                            </ul>
                            <h5 th:if="${withoutDetector.size() ==0}">Toutes les salles de réunions ont au moins un capteur</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>

